In [57]:
import pandas as pd 
import numpy as np

In [58]:
tweet_review=pd.read_csv("C:\\Users\\sohay\\OneDrive\\Desktop\\Elasticsearch\\trumptweets.csv")

In [59]:
tweet_review.shape

(41122, 9)

In [60]:
tweet_review.head()

,id,link,content,date,retweets,favorites,mentions,hashtags,geo
0,1698308935,https://twitter.com/realDonaldTrump/status/169...,Be sure to tune in and watch Donald Trump on L...,2009-05-04 20:54:25,500,868,NaN,NaN,NaN
1,1701461182,https://twitter.com/realDonaldTrump/status/170...,Donald Trump will be appearing on The View tom...,2009-05-05 03:00:10,33,273,NaN,NaN,NaN
2,1737479987,https://twitter.com/realDonaldTrump/status/173...,Donald Trump reads Top Ten Financial Tips on L...,2009-05-08 15:38:08,12,18,NaN,NaN,NaN
3,1741160716,https://twitter.com/realDonaldTrump/status/174...,New Blog Post: Celebrity Apprentice Finale and...,2009-05-08 22:40:15,11,24,NaN,NaN,NaN
4,1773561338,https://twitter.com/realDonaldTrump/status/177...,"""My persona will never be that of a wallflower...",2009-05-12 16:07:28,1399,1965,NaN,NaN,NaN

In [61]:
tweet_review.date.dtype

dtype('O')

In [62]:
tweet_review.retweets.dtype

dtype('int64')

In [63]:
tweet_review.favorites.dtype

dtype('int64')

In [64]:
tweet_review.dtypes

id             int64
link          object
content       object
date          object
retweets       int64
favorites      int64
mentions      object
hashtags      object
geo          float64
dtype: object

In [65]:
df = pd.DataFrame(tweet_review)

In [66]:
df.head()

,id,link,content,date,retweets,favorites,mentions,hashtags,geo
0,1698308935,https://twitter.com/realDonaldTrump/status/169...,Be sure to tune in and watch Donald Trump on L...,2009-05-04 20:54:25,500,868,NaN,NaN,NaN
1,1701461182,https://twitter.com/realDonaldTrump/status/170...,Donald Trump will be appearing on The View tom...,2009-05-05 03:00:10,33,273,NaN,NaN,NaN
2,1737479987,https://twitter.com/realDonaldTrump/status/173...,Donald Trump reads Top Ten Financial Tips on L...,2009-05-08 15:38:08,12,18,NaN,NaN,NaN
3,1741160716,https://twitter.com/realDonaldTrump/status/174...,New Blog Post: Celebrity Apprentice Finale and...,2009-05-08 22:40:15,11,24,NaN,NaN,NaN
4,1773561338,https://twitter.com/realDonaldTrump/status/177...,"""My persona will never be that of a wallflower...",2009-05-12 16:07:28,1399,1965,NaN,NaN,NaN

In [67]:
df['date'] = pd.to_datetime(df['date'])

In [68]:
tweet_review.dtypes

id                    int64
link                 object
content              object
date         datetime64[ns]
retweets              int64
favorites             int64
mentions             object
hashtags             object
geo                 float64
dtype: object

In [79]:
NewMentions=tweet_review.mentions.fillna("Unknown")

In [80]:
NewHashtags=tweet_review.hashtags.fillna("Unknown")

In [82]:
df['mentions']=NewMentions
df['hashtags']=NewHashtags

In [73]:
df["geo"].astype('float64')
newvalue=df["geo"].replace(np.nan,0)
newvalue

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
41117    0.0
41118    0.0
41119    0.0
41120    0.0
41121    0.0
Name: geo, Length: 41122, dtype: float64

In [75]:
df['geo']=newvalue

In [76]:
df['geo']

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
41117    0.0
41118    0.0
41119    0.0
41120    0.0
41121    0.0
Name: geo, Length: 41122, dtype: float64

In [83]:
missing_values_count = tweet_review.isnull().sum()
missing_values_count

id           0
link         0
content      0
date         0
retweets     0
favorites    0
mentions     0
hashtags     0
geo          0
dtype: int64

In [84]:
df.head()

,id,link,content,date,retweets,favorites,mentions,hashtags,geo
0,1698308935,https://twitter.com/realDonaldTrump/status/169...,Be sure to tune in and watch Donald Trump on L...,2009-05-04 20:54:25,500,868,Unknown,Unknown,0.0
1,1701461182,https://twitter.com/realDonaldTrump/status/170...,Donald Trump will be appearing on The View tom...,2009-05-05 03:00:10,33,273,Unknown,Unknown,0.0
2,1737479987,https://twitter.com/realDonaldTrump/status/173...,Donald Trump reads Top Ten Financial Tips on L...,2009-05-08 15:38:08,12,18,Unknown,Unknown,0.0
3,1741160716,https://twitter.com/realDonaldTrump/status/174...,New Blog Post: Celebrity Apprentice Finale and...,2009-05-08 22:40:15,11,24,Unknown,Unknown,0.0
4,1773561338,https://twitter.com/realDonaldTrump/status/177...,"""My persona will never be that of a wallflower...",2009-05-12 16:07:28,1399,1965,Unknown,Unknown,0.0

In [85]:
filename = 'tweetpreprocessing.csv'
pd.DataFrame(df).T.to_csv(filename, index=False, header=False)

In [86]:
tweet_review.head()

,id,link,content,date,retweets,favorites,mentions,hashtags,geo
0,1698308935,https://twitter.com/realDonaldTrump/status/169...,Be sure to tune in and watch Donald Trump on L...,2009-05-04 20:54:25,500,868,Unknown,Unknown,0.0
1,1701461182,https://twitter.com/realDonaldTrump/status/170...,Donald Trump will be appearing on The View tom...,2009-05-05 03:00:10,33,273,Unknown,Unknown,0.0
2,1737479987,https://twitter.com/realDonaldTrump/status/173...,Donald Trump reads Top Ten Financial Tips on L...,2009-05-08 15:38:08,12,18,Unknown,Unknown,0.0
3,1741160716,https://twitter.com/realDonaldTrump/status/174...,New Blog Post: Celebrity Apprentice Finale and...,2009-05-08 22:40:15,11,24,Unknown,Unknown,0.0
4,1773561338,https://twitter.com/realDonaldTrump/status/177...,"""My persona will never be that of a wallflower...",2009-05-12 16:07:28,1399,1965,Unknown,Unknown,0.0